body {
    margin: 0;
    background: #000;
}

.center-box {
    position: absolute;
    height: 500px;
    width: 360px;
    background-color: #555555;
    opacity: 0.5;
    text-align: center;
}

@media (max-width: 1200px) {
    .center-box {
        width: 293.328px;
    }
}

@media (max-width: 991px) {
    .center-box {
        width: 220px;
    }
}

.on-top {
    position: relative;
}

.col-md-4 {
    text-align: center;
}

label {
    position: relative;
    top: 4.7em;
    color: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}


aside {
    display: block;
    height: 700px;
    width: 220px;
    background-color: whitesmoke;
    top: 60px;
    right: 10px;
    position: fixed;
    opacity: 0.8;
}

h2 {
    text-shadow: 2px 2px 5px #bbbb;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url('/assets/fonts/webfonts/ostrich-sans-dashed.woff');

    src: url('/assets/fonts/webfonts/ostrich-sans-black.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/webfonts/ostrich-sans-black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/assets/fonts/webfonts/ostrich-sans-black.svg#Durant-Bold') format('svg'), /* Legacy iOS */
    url('/assets/fonts/webfonts/ostrich-sans-black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/assets/fonts/webfonts/ostrich-sans-black.woff') format('woff');
}
